<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    form, input {
        text-align: center;
        width: auto;
    }
</style>
<body>
<form th:object="${user}"
      th:action="@{save}"
      th:method="post">

    <input th:text="name" th:field="*{name}" placeholder=" name">
    <br>
    <input th:text="age" th:field="*{age}" placeholder="age">

    <br>
    <button type="submit" style="background-color: green">ADD</button>
</form>

</body>
</html>
